// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//Sweetaler
@import "node_modules/sweetalert/dist/sweetalert";


body{
	padding: 0;
}

.section{

	padding: 50px 0;

	&.section-introduce{
		background-color: #333;
		h1{
			color: white;
			//margin: 30px 0;
		}
	}

	&.section-examples{
		h3{
			margin: 0;
			margin-bottom: 30px;
		}
		.tab-pane{
			padding-top: 30px;
		}
	}

}

#formulator{

	text-align: center;

	.formulator-container{

		display: inline-block;
		width:  100%;
		//max-width: 650px;
		text-align: left;

		h1{
			text-align: left;
			margin-bottom: 50px;
		}

		.example{

			h3{
				margin-bottom: 20px;
			}

			form{
				margin-bottom: 30px;
			}

		}

	}

}